<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<display-name>ListServlet</display-name>
		<servlet-name>ListServlet</servlet-name>
		<servlet-class>com.forlove.servlet.ListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteOneServlet</display-name>
		<servlet-name>DeleteOneServlet</servlet-name>
		<servlet-class>com.forlove.servlet.DeleteOneServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteBatchServlet</display-name>
		<servlet-name>DeleteBatchServlet</servlet-name>
		<servlet-class>com.forlove.servlet.DeleteBatchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListServlet</servlet-name>
		<url-pattern>/ListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteOneServlet</servlet-name>
		<url-pattern>/DeleteOneServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteBatchServlet</servlet-name>
		<url-pattern>/DeleteBatchServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<description>
		</description>
		<display-name>EncodingFilter</display-name>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.forlove.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>  
